<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.sebwarnke.alfredworkflows.alfred-calendly</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>6A5E7585-B597-43C6-AFCF-F361D411D36C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>CC8367B2-A4E5-468E-AF40-44635381C959</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B0EEAA2C-E3DF-4E90-8828-DC307C405D10</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6A5E7585-B597-43C6-AFCF-F361D411D36C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Sebastian Warnke</string>
	<key>description</key>
	<string></string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Calendly for Alfred</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>cy</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string>python cy_filter.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B0EEAA2C-E3DF-4E90-8828-DC307C405D10</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string></string>
				<key>title</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>CC8367B2-A4E5-468E-AF40-44635381C959</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>python cy_handler.py "{query}"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6A5E7585-B597-43C6-AFCF-F361D411D36C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>This workflow integrates Calendly API v2.

# Change Log:

2.0.0
- This update fully refactors the authentication mechanism towards Personal Access Tokens and abandons OAuth as per recommendation by Calendly.
- It now shows the new Calendly Logo.

DURING THE UPDATE THE WORKFLOW REMOVES ALL PREVIOUSLY STORED OAUTH RELATED CREDENTIALS. YOU MUST FRESHLY SIGN IN USING PERSONAL ACCESS TOKENS. PLEASE FOLLOW THE INSTRUCTIONS THE WORKFLOW PROVIDES.

1.1.0
- Improves loading of Event Types; as of now, the list of Event Types will now show all Event Types no matter how many you have.
- The list of Event Types stops showing inactive Event Types and only shows the active ones.
- The workflow carries a new name; "Calendly for Alfred"
- Under the hood, massive overhaul of Calendly Client implementation

1.0.2
- Fixes a bug that prevented loading redirect uri during auth flow that was set by user. (Thanks to David, again)

1.0.1
- Fixes a bug that showed invalid a description during auth flow. (Thanks to David)

1.0.0
- The redirect URI which is called back during authorization with Calendly is now configurable.
- Adds capability to reset configuration with `cya reset`
- ... and to logout with `cy logout`. Both the above and this call the same implementation.

0.4.0
- Adds CMD modifier in Single-Use-Link Event Type List which opens static URL in browser, instead of requesting the Single-Use-Link.

0.3.1
- Fixes a bug that adds a trailing new line character to the single-use-link

0.3.0
- Workflow allows creation of Single Use Links for all existing Event Types in Calendly
- Workflow allows OAuth login and frequent renewal</string>
	<key>uidata</key>
	<dict>
		<key>6A5E7585-B597-43C6-AFCF-F361D411D36C</key>
		<dict>
			<key>xpos</key>
			<integer>425</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>B0EEAA2C-E3DF-4E90-8828-DC307C405D10</key>
		<dict>
			<key>xpos</key>
			<integer>190</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
		<key>CC8367B2-A4E5-468E-AF40-44635381C959</key>
		<dict>
			<key>xpos</key>
			<integer>650</integer>
			<key>ypos</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>version</key>
	<string>2.0.0</string>
	<key>webaddress</key>
	<string>https://github.com/sebwarnke/alfred-calendly</string>
</dict>
</plist>
